.idea/

__pycache__
.history
.hypothesis/
client/src/artifacts
client/src/deployments
reports/
node_modules
*.dbg.json
artifacts/
artifacts-ovm/
*cache.*
credentials.json
yarn-error.log
cache/console-history.txt
