.userItem {
    display: flex;
    align-items: center;
}

.userItem:hover .profileImage {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.userItem:hover {
    cursor: pointer;
}

.userItem .profileImage img {
    border-radius: 50%;
    background-color: grey;
    width: 29px;
    height: 29px;
    display:inline-block;
    margin-top: 5px;
}

.userItem .detailContainer {
    padding-left: 11px;
}

.userItem .username {
    font-size: 18px;
}

.userItem .address {
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    color: var(--primary-grey);
}